@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  word-break: break-word;
}

/* Scrollbar styles */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--s)) hsl(var(--p));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--p));
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--s));
  border-radius: 14px;
  border: 3px solid hsl(var(--p));
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --font-color: rgb(30 41 59);
    --bg-color: white;
    --hover-color: rgb(241 245 249);
  }
}
/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #fff;
    --bg-color: rgb(30 41 59);
    --hover-color: rgb(30 41 59);
  }
}

.rmsc {
  --rmsc-main: #4285f4 !important;
  --rmsc-hover: var(--hover-color) !important;
  --rmsc-selected: var(--hover-color) !important;
  --rmsc-border: transparent !important;
  --rmsc-gray: #aaa !important;
  --rmsc-bg: var(--bg-color) !important;
  --rmsc-p: 10px !important; /* Spacing */
  --rmsc-radius: 8px !important; /* Radius */
  --rmsc-h: 38px !important; /* Height */
}
